<h2>NerdBeers Suggestions Coming soon!</h2><br/>

<p><b>NerdBeers</b> belongs to you.</p>
<p>Tell us what you want to talk about. Suggest a topic, a beer, or a pairing.</p>

<input id="variant" type="hidden" value="desktop"/>